flows.json
[{"id":"f637a729.0303e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a432d0c.10be63","type":"ui_form","z":"f637a729.0303e8","name":"","label":"","group":"63ff4e5b.38e4a","order":0,"width":0,"height":0,"options":[{"label":"Enter your Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your Password","value":"pass","type":"password","required":true,"rows":null},{"label":"State","value":"state","type":"text","required":true,"rows":null},{"label":"City","value":"city","type":"text","required":true,"rows":null},{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Pincode","value":"pin","type":"number","required":true,"rows":null},{"label":"Phone No","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","pass":"","state":"","city":"","country":"","pin":"","phno":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":110,"y":80,"wires":[["b3243fb0.4d1b6","d876590b.c299b8"]]},{"id":"132d9c70.395ec4","type":"cloudant out","z":"f637a729.0303e8","name":"","cloudant":"","database":"user_details","service":"tech-brewers-cloudant-1593796791259-1828","payonly":true,"operation":"insert","x":690,"y":80,"wires":[]},{"id":"b3243fb0.4d1b6","type":"function","z":"f637a729.0303e8","name":"","func":"msg.payload=\n{\n    _id : msg.payload.email,\n    NAME : msg.payload.name,\n    EMAIL : msg.payload.email,\n    PASSWORD : msg.payload.pass,\n    STATE : msg.payload.state,\n    CITY : msg.payload.city,\n    COUNTRY : msg.payload.country,\n    PINCODE : msg.payload.pin,\n    PHONENO : msg.payload.phno\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["132d9c70.395ec4"]]},{"id":"eec6df5b.48df3","type":"ui_text","z":"f637a729.0303e8","group":"63ff4e5b.38e4a","order":1,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":220,"wires":[]},{"id":"d876590b.c299b8","type":"function","z":"f637a729.0303e8","name":"","func":"msg.payload = \"Thank You \" + msg.payload.name + \" for registering successfully.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["eec6df5b.48df3"]]},{"id":"7a007f06.47627","type":"ui_form","z":"f637a729.0303e8","name":"","label":"","group":"e89c29dc.22b6f8","order":0,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"email":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":380,"wires":[["c7e799f9.3c8898"]]},{"id":"976663e1.e9ffd","type":"debug","z":"f637a729.0303e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":360,"wires":[]},{"id":"ea8971ba.7fd9f","type":"cloudant in","z":"f637a729.0303e8","name":"","cloudant":"","database":"user_details","service":"tech-brewers-cloudant-1593796791259-1828","search":"_id_","design":"","index":"","x":430,"y":360,"wires":[["976663e1.e9ffd","af65b7.181c7a48"]]},{"id":"c7e799f9.3c8898","type":"function","z":"f637a729.0303e8","name":"","func":"global.set('email',msg.payload.email)\nglobal.set('password',msg.payload.pass)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":460,"wires":[["90fb21b0.6da36"]]},{"id":"90fb21b0.6da36","type":"function","z":"f637a729.0303e8","name":"","func":"var email = global.get('email')\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["ea8971ba.7fd9f"]]},{"id":"af65b7.181c7a48","type":"function","z":"f637a729.0303e8","name":"","func":"var pass=global.get('password')\nif(pass==msg.payload.PASSWORD){\n    msg.payload = \"Login Successful.\"\n    //var a = document.createElement('a');\n    //a.href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/487f2587-6b17-4c54-ba7b-6cd869d1506b/view/0218d9760e990df145f2dce4079c7d027e667055b0bb870a87857b495a337697f0384692c8794b59db150530f4bd1a0aca\"\n}\nelse\n    msg.payload = \"Login unsuccessful. Invalid password !\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":500,"wires":[["d8aef17c.2b8ac"]]},{"id":"d8aef17c.2b8ac","type":"ui_text","z":"f637a729.0303e8","group":"e89c29dc.22b6f8","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":540,"wires":[]},{"id":"63ff4e5b.38e4a","type":"ui_group","z":"","name":"Form","tab":"7d02839f.0c851c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e89c29dc.22b6f8","type":"ui_group","z":"","name":"Form","tab":"46f69618.14cf48","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d02839f.0c851c","type":"ui_tab","z":"","name":"Registeration","icon":"dashboard","disabled":false,"hidden":false},{"id":"46f69618.14cf48","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false}]